<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>

  <appSettings>
    <!-- Configuración del Adapter XML -->
    <add key="MsmqQueuePath" value=".\Private$\smi_suc_pagos" />
    <add key="XmlFilesDirectory" value="..\..\..\..\XMLPagos" />
    <add key="FilePattern" value="suc_*-pagos-*.xml" />
  </appSettings>
</configuration>
